|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [1]:
# Read data and describe it
import pandas as pd
import numpy as np
ttn_data=pd.read_csv("titanic_dataset.csv")
print(dir(ttn_data.describe()))

['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_box_col_values', '_box_item_values', '_builtin_table', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_combine_frame', '_combine_match_index', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_count_level', '_create_indexer', '_cython_table', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_ensure_type', '_ensure_valid_index', '_find_valid_index', '_from_arrays', '_from_axes', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_cython_func', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_iget_item_cache', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_internal_get_values', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_datelike_mixed_type', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_join_compat', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_series', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_setup_axes', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take_with_is_copy', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'age', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'between_time', 'bfill', 'body', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'parch', 'pclass', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_index', 'shape', 'shift', 'sibsp', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'survived', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'values', 'var', 'where', 'xs']

In [2]:
# Find columns with missingdata
miss_cols=ttn_data.isna().any()
print(miss_cols[miss_cols])
print()
print()
print('age',len(ttn_data[ttn_data.age.notna()].values))
print('fare',len(ttn_data[ttn_data.fare.notna()].values))
print('cabin',len(ttn_data[ttn_data.cabin.notna()].values))
print('embarked',len(ttn_data[ttn_data.embarked.notna()].values))
print('boat',len(ttn_data[ttn_data.boat.notna()].values))
print('body',len(ttn_data[ttn_data.body.notna()].values))
print('home.dest',len(ttn_data[ttn_data['home.dest'].notna()].values))

age          True
fare         True
cabin        True
embarked     True
boat         True
body         True
home.dest    True
dtype: bool


age 1046
fare 1308
cabin 295
embarked 1307
boat 486
body 121
home.dest 745

In [3]:
# Print shape of dataset
print(ttn_data.shape)

(1309, 15)

In [4]:
# drop columns with more than 25% missing data
df=ttn_data.dropna(thresh=0.75*(len(ttn_data.values)),axis=1)
print(df)

      Unnamed: 0  pclass  survived  \
0              0       1         1
1              1       1         1
2              2       1         0
3              3       1         0
4              4       1         0
...          ...     ...       ...
1304        1304       3         0
1305        1305       3         0
1306        1306       3         0
1307        1307       3         0
1308        1308       3         0

                                                 name  gender      age  sibsp  \
0                       Allen, Miss. Elisabeth Walton  female  29.0000      0
1                      Allison, Master. Hudson Trevor    male   0.9167      1
2                        Allison, Miss. Helen Loraine  female   2.0000      1
3                Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1
...                                               ...     ...      ...    ...
1304                             Zabour, Miss. Hileni  female  14.5000      1
1305                            Zabour, Miss. Thamine  female      NaN      1
1306                        Zakarian, Mr. Mapriededer    male  26.5000      0
1307                              Zakarian, Mr. Ortin    male  27.0000      0
1308                               Zimmerman, Mr. Leo    male  29.0000      0

      parch  ticket      fare embarked
0         0   24160  $211.34         S
1         2  113781  $151.55         S
2         2  113781  $151.55         S
3         2  113781  $151.55         S
4         2  113781  $151.55         S
...     ...     ...       ...      ...
1304      0    2665   $14.45         C
1305      0    2665   $14.45         C
1306      0    2656    $7.23         C
1307      0    2670    $7.23         C
1308      0  315082    $7.88         S

[1309 rows x 11 columns]

In [5]:
# drop columns having independent values(which do not affect the survival rate).
df=df.drop('Unnamed: 0',axis=1)
print(df)

      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

      gender      age  sibsp  parch  ticket      fare embarked
0     female  29.0000      0      0   24160  $211.34         S
1       male   0.9167      1      2  113781  $151.55         S
2     female   2.0000      1      2  113781  $151.55         S
3       male  30.0000      1      2  113781  $151.55         S
4     female  25.0000      1      2  113781  $151.55         S
...      ...      ...    ...    ...     ...       ...      ...
1304  female  14.5000      1      0    2665   $14.45         C
1305  female      NaN      1      0    2665   $14.45         C
1306    male  26.5000      0      0    2656    $7.23         C
1307    male  27.0000      0      0    2670    $7.23         C
1308    male  29.0000      0      0  315082    $7.88         S

[1309 rows x 10 columns]

In [6]:
# check data types of all columns
df.dtypes

pclass        int64
survived      int64
name         object
gender       object
age         float64
sibsp         int64
parch         int64
ticket       object
fare         object
embarked     object
dtype: object

In [7]:
# convert price to numeric
df.fare=df.fare.str.replace('$','').astype('float')
print(df.fare)
# ttn_data.fare.astype('float')

0       211.34
1       151.55
2       151.55
3       151.55
4       151.55
         ...
1304     14.45
1305     14.45
1306      7.23
1307      7.23
1308      7.88
Name: fare, Length: 1309, dtype: float64

In [8]:
# find columns still having missing/na values and also count of missing data
df.isna().sum()

pclass        0
survived      0
name          0
gender        0
age         263
sibsp         0
parch         0
ticket        0
fare          1
embarked      2
dtype: int64

In [9]:
# fill na with mean for fare and age column column.

df.fare=df.fare.fillna(df.fare.mean())
df.age=df.age.fillna(df.age.mean())
print(df.age.dtype)
df.isna().sum()

float64

pclass      0
survived    0
name        0
gender      0
age         0
sibsp       0
parch       0
ticket      0
fare        0
embarked    2
dtype: int64

In [10]:
# drop na values for embarked column.
df.dropna(inplace=True)
print(df.isna().sum())
df.shape

pclass      0
survived    0
name        0
gender      0
age         0
sibsp       0
parch       0
ticket      0
fare        0
embarked    0
dtype: int64

(1307, 10)

In [11]:
# dump the dataframe to a csv file 'titanic_filtered.csv'.
df.to_csv('titanic_filtered.csv')

In [12]:
# for surviced column replace 0 with D and 1 with A
df.survived.replace({0:'D',1:'A'},inplace=True)
print(df.survived)

0       A
1       A
2       D
3       D
4       D
       ..
1304    D
1305    D
1306    D
1307    D
1308    D
Name: survived, Length: 1307, dtype: object

In [13]:
# find the frequency of different values in survived column
df.survived.value_counts()

D    809
A    498
Name: survived, dtype: int64

In [14]:
# group by gender and survived and see the counts in each category
grp=df.groupby(['gender','survived'])
print(grp.size())

gender  survived
female  A           337
        D           127
male    A           161
        D           682
dtype: int64

In [15]:
# find different pclass and no of people in each class
pclass_grp=df.groupby('pclass')
print(pclass_grp.size())

pclass
1    321
2    277
3    709
dtype: int64

In [16]:
# find top 5 people with highest values of age. Count no of male and females in the top 5
high_age=df.sort_values('age',ascending=False).head()
print(high_age)
high_age_grp=high_age.groupby('gender')
print(high_age_grp.size())

      pclass survived                                               name  \
14         1        A               Barkworth, Mr. Algernon Henry Wilson
61         1        A  Cavendish, Mrs. Tyrell William (Julia Florence...
1235       3        D                                Svensson, Mr. Johan
135        1        D                          Goldschmidt, Mr. George B
9          1        D                            Artagaveytia, Mr. Ramon

      gender   age  sibsp  parch    ticket   fare embarked
14      male  80.0      0      0     27042  30.00        S
61    female  76.0      1      0     19877  78.85        S
1235    male  74.0      0      0    347060   7.78        S
135     male  71.0      0      0  PC 17754  34.65        C
9       male  71.0      0      0  PC 17609  49.50        C
gender
female    1
male      4
dtype: int64

In [17]:
# find max age male and female who survived
gen_grp=df[df.survived=='A'].groupby('gender')
print(gen_grp.get_group('female').sort_values('age',ascending=False).age.iloc[0])
print(gen_grp.get_group('male').sort_values('age',ascending=False).age.iloc[0])

76.0
80.0

In [18]:
# get average age by gender
print('Average age of female:',gen_grp.get_group('female').age.mean())
print('Average age of male:',gen_grp.get_group('male').age.mean())

Average age of female: 29.704738047727428
Average age of male: 27.44664284051636

In [21]:
# get average age by people survived vs not-survived
surv_grp=df.groupby('survived')
print(surv_grp.age.mean())

survived
A    28.974711
D    30.389368
Name: age, dtype: float64