### Description

**Airport**: The IATA airport code of the selected airport.  
**Terminal**: Terminal(s) associated with the airport selected.  
**Date**: Arrival Date(s) of flights associated with the airport/terminal/date range selected.  
**Hour**: Hour(s) of arriving flights during a 24 hour time period for the airport/terminal selected/date range selected.  
**U.S. Citizen Wait Times**:

    Average:The average wait time for all U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all U.S. Citizen passengers on a flight arriving in the one hour increment.

**Non U.S. Citizen Wait Times**:

    Average:The average wait time for all Non U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all Non U.S. Citizen passengers on a flight arriving in the one hour increment.

**Wait Times**:

    Average:The average wait time for all passengers on flights arriving in the one hour increment.
    Max:The highest wait time for any passenger on a flight arriving in the one hour increment.

**Number of Passengers Time Interval**:

    0-15:The actual number of passengers on flights which arrived in the selected hour who were processed in (0-15) minutes.
    16-30:The actual number of passengers on flights which arrived in the selected hour who were processed in (16-30) minutes.
    31-45:The actual number of passengers on flights which arrived in the selected hour who were processed in (31-45) minutes.
    46-60:The actual number of passengers on flights which arrived in the selected hour who were processed in (46-60) minutes.
    61-90:The actual number of passengers on flights which arrived in the selected hour who were processed in (61-90) minutes.
    91-120:The actual number of passengers on flights which arrived in the selected hour who were processed in (91-120) minutes.
    121Plus:The actual number of passengers on flights which arrived in the selected hour who were processed in (121 Plus) minutes.

**Excluded**:The actual number of passengers on flights which arrived in the selected hour who were excluded from wait time reporting.  
**Total**:Total number of passengers aboard arriving flights during the one hour increment.  
**Flights**:Number of flights arriving during the time period.  
**Booths**:Number of staffed primary inspection booths open to process flights which arrived during the selected hour.

### Problems
- read dataset and convert column headers to correct format (the first  4 rows are headers, but not all rows contain column names)
- check datatype of each column
- find out columns which have na values
- check if there are any unique values in first two columns
- based on above, are these two columns userful ?   
  
  
- check if all hour values are present or not
- drop the upper bound of  hour column
  Ex: replace  0100 - 0200 with 0100 ...
- check that hour values lie in range 0-2300 or not
- convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)
- check that length of each hour value is 4, if  not, check why and fix it and then check again   
  
  
- convert Date column to datetime type
- check data types now
- replace Hours with only time part and Date column with only date part (both should  be converted to datetime type before this)
- check data types again
- merge date and hour column into a new column date_time (type of date_time should be datetime not str)

In [ ]:
# read dataset and convert column headers to correct format (the first 4 rows are headers, but not all rows contain column names)

df=pd.read_excel('AWT.xls',header=[0,1,2,3])
col_list=[]
for col in df.columns:
    col=list(col)
    for i in range(len(col)): # col is a tuple
        if col[i].startswith('Unnamed'):
            col[i]=""
    col_list.append("".join(col))
df.columns=col_list
print(df.columns)
df.head()


df = pd.read_excel(r'AWT.xls', header=[0,1,2,3])
df.columns = df.columns.map(','.join)
df.columns = ['Airport', 'Terminal', 'Date', 'Hour', 'US AWT', 'US MWT', 'Non AWT', 'Non MWT', 'AWT', 'MWT', '0-15', '16-30', '31-45', '46-60', '61-90', '91-120', '120 Plus', 'Ex cluded', 'Total', 'Flights', 'Booths']

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.read_excel("AWT.xls").iloc[0:3].replace(np.nan, " ")

,Airport,Terminal,Date,Hour,U.S. Citizen,Unnamed: 5,Non U.S. Citizen,Unnamed: 7,All,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,,,,,,,,,Wait Times,,...,,,,,,,,,,
1,,,,,Average Wait,Max Wait,Average Wait,Max Wait,Average Wait,Max Wait,...,16-30,31-45,46-60,61-90,91-120,120 plus,Excluded,Total,Flights,Booths
2,,,,,Time,Time,Time,Time,Time,Time,...,,,,,,,,,,

In [ ]:
df.columns
df1=df.groupby(['gender','survived']).size()
df1.plot(kind='bar')

lstindex=df1.index.tolist()
print(lstindex)
print(df1.pclass.values)

data_in_array = np.array(lstindex)
print(data_in_array)

for i in range(4):
    plt.bar("({},{})".format(data_in_array[i][0],data_in_array[i][1]),df1.pclass.values[i])
plt.show()

In [ ]:

df1=df.groupby(['gender','survived']).size()  # series with multi index
x = df1.index # bar labes
h = df1.values # bar height
# x = df1.index.to_flat_index()
plt.bar(x, h)

In [5]:
import pandas as pd

In [130]:

df=pd.read_excel('AWT.xls',header=[0,1,2,3], parse_dates=False)
col_list=[]
for col in df.columns:
    col=list(col)
    col_list.append("".join(filter(lambda x: not x.startswith('Unnamed') and not x.startswith("All") and not x.startswith("Number"),  col)))
df.columns=col_list
print(df.columns)
df.head()

Index(['Airport', 'Terminal', 'Date', 'Hour', 'U.S. CitizenAverage WaitTime',
       'U.S. CitizenMax WaitTime', 'Non U.S. CitizenAverage WaitTime',
       'Non U.S. CitizenMax WaitTime', 'Wait TimesAverage WaitTime',
       'Wait TimesMax WaitTime', '0-15', '16-30', '31-45', '46-60', '61-90',
       '91-120', '120 plus', 'Excluded', 'Total', 'Flights', 'Booths'],
      dtype='object')

,Airport,Terminal,Date,Hour,U.S. CitizenAverage WaitTime,U.S. CitizenMax WaitTime,Non U.S. CitizenAverage WaitTime,Non U.S. CitizenMax WaitTime,Wait TimesAverage WaitTime,Wait TimesMax WaitTime,...,16-30,31-45,46-60,61-90,91-120,120 plus,Excluded,Total,Flights,Booths
0,ORD,Terminal 5,2017-01-01 00:00:00,0300 - 0400,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,1,0
1,ORD,Terminal 5,2017-01-01 00:00:00,0400 - 0500,18,51,28,51,20,51,...,160,60,8,0,0,0,13,362,3,10
2,ORD,Terminal 5,2017-01-01 00:00:00,0600 - 0700,11,49,27,49,20,49,...,81,64,19,0,0,0,10,328,1,10
3,ORD,Terminal 5,2017-01-01 00:00:00,0700 - 0800,7,24,12,26,10,26,...,88,0,0,0,0,0,10,370,2,12
4,ORD,Terminal 5,2017-01-01 00:00:00,0800 - 0900,5,25,13,37,10,37,...,121,16,0,0,0,0,11,446,2,12

In [79]:
df.Date[30]

datetime.datetime(2017, 2, 1, 0, 0)

In [7]:
df

,Airport,Terminal,Date,Hour,U.S. CitizenAverage WaitTime,U.S. CitizenMax WaitTime,Non U.S. CitizenAverage WaitTime,Non U.S. CitizenMax WaitTime,AllWait TimesAverage WaitTime,AllWait TimesMax WaitTime,...,AllNumber Of Passengers Time Interval16-30,AllNumber Of Passengers Time Interval31-45,AllNumber Of Passengers Time Interval46-60,AllNumber Of Passengers Time Interval61-90,AllNumber Of Passengers Time Interval91-120,AllNumber Of Passengers Time Interval120 plus,AllNumber Of Passengers Time IntervalExcluded,AllNumber Of Passengers Time IntervalTotal,AllNumber Of Passengers Time IntervalFlights,AllNumber Of Passengers Time IntervalBooths
0,ORD,Terminal 5,2017-01-01 00:00:00,0300 - 0400,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,1,0
1,ORD,Terminal 5,2017-01-01 00:00:00,0400 - 0500,18,51,28,51,20,51,...,160,60,8,0,0,0,13,362,3,10
2,ORD,Terminal 5,2017-01-01 00:00:00,0600 - 0700,11,49,27,49,20,49,...,81,64,19,0,0,0,10,328,1,10
3,ORD,Terminal 5,2017-01-01 00:00:00,0700 - 0800,7,24,12,26,10,26,...,88,0,0,0,0,0,10,370,2,12
4,ORD,Terminal 5,2017-01-01 00:00:00,0800 - 0900,5,25,13,37,10,37,...,121,16,0,0,0,0,11,446,2,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6699,ORD,Terminal 5,12/31/2017,1800 - 1900,16,47,16,48,16,48,...,506,148,9,0,0,0,56,1405,9,17
6700,ORD,Terminal 5,12/31/2017,1900 - 2000,7,23,9,23,7,23,...,21,0,0,0,0,0,10,284,1,19
6701,ORD,Terminal 5,12/31/2017,2000 - 2100,7,18,8,18,7,18,...,25,0,0,0,0,0,15,427,2,14
6702,ORD,Terminal 5,12/31/2017,2100 - 2200,28,39,31,39,28,39,...,119,38,0,0,0,0,6,167,1,3
6703,ORD,Terminal 5,12/31/2017,2300 - 0000,7,25,11,25,8,25,...,66,0,0,0,0,0,18,451,3,8

In [10]:
# check datatype of each column
df.dtypes

Airport                             object
Terminal                            object
Date                                object
Hour                                object
U.S. CitizenAverage WaitTime         int64
U.S. CitizenMax WaitTime             int64
Non U.S. CitizenAverage WaitTime     int64
Non U.S. CitizenMax WaitTime         int64
Wait TimesAverage WaitTime           int64
Wait TimesMax WaitTime               int64
0-15                                 int64
16-30                                int64
31-45                                int64
46-60                                int64
61-90                                int64
91-120                               int64
120 plus                             int64
Excluded                             int64
Total                                int64
Flights                              int64
Booths                               int64
dtype: object

In [65]:
df.Date

0       2017-01-01 00:00:00
1       2017-01-01 00:00:00
2       2017-01-01 00:00:00
3       2017-01-01 00:00:00
4       2017-01-01 00:00:00
               ...
6699             12/31/2017
6700             12/31/2017
6701             12/31/2017
6702             12/31/2017
6703             12/31/2017
Name: Date, Length: 6704, dtype: object

In [12]:
# find out columns which have na values
df.isna().any()

Airport                             False
Terminal                            False
Date                                False
Hour                                False
U.S. CitizenAverage WaitTime        False
U.S. CitizenMax WaitTime            False
Non U.S. CitizenAverage WaitTime    False
Non U.S. CitizenMax WaitTime        False
Wait TimesAverage WaitTime          False
Wait TimesMax WaitTime              False
0-15                                False
16-30                               False
31-45                               False
46-60                               False
61-90                               False
91-120                              False
120 plus                            False
Excluded                            False
Total                               False
Flights                             False
Booths                              False
dtype: bool

In [13]:
# check if there are any unique values in first two columns
df.Airport.unique()

array(['ORD'], dtype=object)

In [15]:
df.Terminal.unique()

array(['Terminal 5'], dtype=object)

In [ ]:
# based on above, are these two columns userful ?

In [16]:
# check if all hour values are present or not
df.Hour.unique()

array(['0300 - 0400', '0400 - 0500', '0600 - 0700', '0700 - 0800',
       '0800 - 0900', '0900 - 1000', '1000 - 1100', '1100 - 1200',
       '1200 - 1300', '1300 - 1400', '1400 - 1500', '1500 - 1600',
       '1600 - 1700', '1700 - 1800', '1800 - 1900', '1900 - 2000',
       '2000 - 2100', '2100 - 2200', '2200 - 2300', '2300 - 0000',
       '0000 - 0100', '0100 - 0200', '0500 - 0600', '0200 - 0300'],
      dtype=object)

In [26]:
# drop the upper bound of hour column Ex: replace 0100 - 0200 with 0100 ...
df.Hour.str.extract('(\d+)')

         0
0     0300
1     0400
2     0600
3     0700
4     0800
...    ...
6699  1800
6700  1900
6701  2000
6702  2100
6703  2300

[6704 rows x 1 columns]

In [24]:
df.Hour.apply(lambda x : pd.Series(str(x).split('-')[0].strip()))

         0
0     0300
1     0400
2     0600
3     0700
4     0800
...    ...
6699  1800
6700  1900
6701  2000
6702  2100
6703  2300

[6704 rows x 1 columns]

In [22]:
#Ankit
df.Hour.str[0:4].astype('str')

0       0300
1       0400
2       0600
3       0700
4       0800
        ...
6699    1800
6700    1900
6701    2000
6702    2100
6703    2300
Name: Hour, Length: 6704, dtype: object

In [101]:
df.Hour = df.Hour.str.split('-').str[0].str.strip()

In [39]:
df.Hour

0       0300
1       0400
2       0600
3       0700
4       0800
        ...
6699    1800
6700    1900
6701    2000
6702    2100
6703    2300
Name: Hour, Length: 6704, dtype: object

In [31]:
# check that hour values lie in range 0-2300 or not
h = pd.to_numeric(df["Hour"])
h.between(0,2300).all()

True

In [ ]:
# convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)

In [36]:
df.Hour

0       0300
1       0400
2       0600
3       0700
4       0800
        ...
6699    1800
6700    1900
6701    2000
6702    2100
6703    2300
Name: Hour, Length: 6704, dtype: object

In [41]:
# check that length of each hour value is 4, if not, check why and fix it and then check again
(df.Hour.str.len()==4).all()

True

In [89]:
# convert Date column to datetime type
pd.to_datetime(df.Date).head(30).dt.day

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
Name: Date, dtype: int64

In [54]:
df.Date

0       2017-01-01 00:00:00
1       2017-01-01 00:00:00
2       2017-01-01 00:00:00
3       2017-01-01 00:00:00
4       2017-01-01 00:00:00
               ...
6699             12/31/2017
6700             12/31/2017
6701             12/31/2017
6702             12/31/2017
6703             12/31/2017
Name: Date, Length: 6704, dtype: object

In [87]:
df = pd.read_excel(r'AWT.xls', header=[0,1,2,3])
df.columns = df.columns.map(','.join)
df.columns = ['Airport', 'Terminal', 'Date', 'Hour', 'US AWT', 'US MWT', 'Non AWT', 'Non MWT', 'AWT', 'MWT', '0-15', '16-30', '31-45', '46-60', '61-90', '91-120', '120 Plus', 'Ex cluded', 'Total', 'Flights', 'Booths']

In [132]:
d = df.Date.apply(lambda x: pd.to_datetime(x).strftime('%Y-%d-%m %H:%M:%S'))
d = pd.to_datetime(pd.Series(d), format="%Y-%d-%m")
d.head(30).dt.day

ValueError: unconverted data remains:  00:00:00

In [97]:
df.Date.str.replace('-','/')

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
6699    12/31/2017
6700    12/31/2017
6701    12/31/2017
6702    12/31/2017
6703    12/31/2017
Name: Date, Length: 6704, dtype: object

In [64]:
df.Date

0       2017-01-01 00:00:00
1       2017-01-01 00:00:00
2       2017-01-01 00:00:00
3       2017-01-01 00:00:00
4       2017-01-01 00:00:00
               ...
6699             12/31/2017
6700             12/31/2017
6701             12/31/2017
6702             12/31/2017
6703             12/31/2017
Name: Date, Length: 6704, dtype: object

In [98]:
df.Date = pd.to_datetime(df.Date)

In [99]:
# check data types now
df.dtypes

Airport              object
Terminal             object
Date         datetime64[ns]
Hour                 object
US AWT                int64
US MWT                int64
Non AWT               int64
Non MWT               int64
AWT                   int64
MWT                   int64
0-15                  int64
16-30                 int64
31-45                 int64
46-60                 int64
61-90                 int64
91-120                int64
120 Plus              int64
Ex cluded             int64
Total                 int64
Flights               int64
Booths                int64
dtype: object

In [102]:
df.Hour = pd.to_datetime(df.Hour, format="%H%M")

In [103]:
# replace Hours with only time part and Date column with only date part (both should be converted to datetime type before this)
df.Date = df.Date.dt.date
df.Hour = df.Hour.dt.time

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [104]:
df.dtypes

Airport      object
Terminal     object
Date         object
Hour         object
US AWT        int64
US MWT        int64
Non AWT       int64
Non MWT       int64
AWT           int64
MWT           int64
0-15          int64
16-30         int64
31-45         int64
46-60         int64
61-90         int64
91-120        int64
120 Plus      int64
Ex cluded     int64
Total         int64
Flights       int64
Booths        int64
dtype: object

In [108]:
df.Date.head()[0]

datetime.date(2017, 1, 1)

In [106]:
df.Hour.head()

0    03:00:00
1    04:00:00
2    06:00:00
3    07:00:00
4    08:00:00
Name: Hour, dtype: object

In [ ]:
# check data types again

In [115]:
df['Date'].astype('str') + " " + df['Hour'].astype('str')

0       2017-01-01 03:00:00
1       2017-01-01 04:00:00
2       2017-01-01 06:00:00
3       2017-01-01 07:00:00
4       2017-01-01 08:00:00
               ...
6699    2017-12-31 18:00:00
6700    2017-12-31 19:00:00
6701    2017-12-31 20:00:00
6702    2017-12-31 21:00:00
6703    2017-12-31 23:00:00
Length: 6704, dtype: object

In [116]:
# merge date and hour column into a new column date_time (type of date_time should be datetime not str)
df['date_time']=pd.to_datetime(df['Date'].astype('str') + " " + df['Hour'].astype('str'), format="%Y-%m-%d %H:%M:%S")

In [110]:
print(dir(df['Date']))

['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_binop', '_box_item_values', '_builtin_table', '_can_hold_na', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_create_indexer', '_cython_table', '_data', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_find_valid_index', '_formatting_values', '_from_axes', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_space_character_free_column_resolvers', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_iget_item_cache', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_internal_get_values', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_cython_func', '_is_datelike_mixed_type', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_map_values', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_ndarray_values', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_labels', '_set_name', '_set_subtyp', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_series_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'as_matrix', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'autocorr', 'axes', 'base', 'between', 'between_time', 'bfill', 'bool', 'clip', 'clip_lower', 'clip_upper', 'combine', 'combine_first', 'compound', 'compress', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'data', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_array', 'ftype', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_values', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'imag', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'itemsize', 'iteritems', 'ix', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'nonzero', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'ptp', 'put', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'real', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'strides', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_msgpack', 'to_numpy', 'to_period', 'to_pickle', 'to_sparse', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [117]:
df.date_time

0      2017-01-01 03:00:00
1      2017-01-01 04:00:00
2      2017-01-01 06:00:00
3      2017-01-01 07:00:00
4      2017-01-01 08:00:00
               ...
6699   2017-12-31 18:00:00
6700   2017-12-31 19:00:00
6701   2017-12-31 20:00:00
6702   2017-12-31 21:00:00
6703   2017-12-31 23:00:00
Name: date_time, Length: 6704, dtype: datetime64[ns]

In [124]:


df = pd.read_excel(r'AWT.xls', dtype={"Date": str},  header=[0])

In [126]:
df.Date[4]

'2017-01-01 00:00:00'

In [128]:
import dateutil

In [129]:
dateutil.parser.parse()

In [141]:

df = pd.read_excel(r'AWT.xls', header=[0,1,2,3])
df.columns = df.columns.map(','.join)
df.columns = ['Airport', 'Terminal', 'Date', 'Hour', 'US AWT', 'US MWT', 'Non AWT', 'Non MWT', 'AWT', 'MWT', '0-15', '16-30', '31-45', '46-60', '61-90', '91-120', '120 Plus', 'Ex cluded', 'Total', 'Flights', 'Booths']

In [146]:
# 1
df.Date = df.Date.apply(lambda x: pd.to_datetime(x).strftime('%Y-%m-%d %H:%M:%S'))

In [147]:
df.Date = pd.to_datetime(pd.Series(df.Date), format="%Y-%m-%d")

In [148]:
df.Date.head(30).dt.day

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
Name: Date, dtype: int64

In [139]:
df.Date[300]

'1/16/2017'

In [140]:
df.Date[0]

datetime.datetime(2017, 1, 1, 0, 0)

In [133]:
awt = df

a1= awt["Date"].apply(lambda x: pd.to_datetime(x) if isinstance(x,str) else pd.to_datetime(x,format='%Y-%d-%m %H:%M:%S'))
awt["Date"]=a1
awt.dtypes

Airport                                     object
Terminal                                    object
Date                                datetime64[ns]
Hour                                        object
U.S. CitizenAverage WaitTime                 int64
U.S. CitizenMax WaitTime                     int64
Non U.S. CitizenAverage WaitTime             int64
Non U.S. CitizenMax WaitTime                 int64
Wait TimesAverage WaitTime                   int64
Wait TimesMax WaitTime                       int64
0-15                                         int64
16-30                                        int64
31-45                                        int64
46-60                                        int64
61-90                                        int64
91-120                                       int64
120 plus                                     int64
Excluded                                     int64
Total                                        int64
Flights                                      int64
Booths                                       int64
dtype: object

In [137]:
a1.head(30)

0    2017-01-01
1    2017-01-01
2    2017-01-01
3    2017-01-01
4    2017-01-01
5    2017-01-01
6    2017-01-01
7    2017-01-01
8    2017-01-01
9    2017-01-01
10   2017-01-01
11   2017-01-01
12   2017-01-01
13   2017-01-01
14   2017-01-01
15   2017-01-01
16   2017-01-01
17   2017-01-01
18   2017-01-01
19   2017-01-01
20   2017-01-02
21   2017-01-02
22   2017-01-02
23   2017-01-02
24   2017-01-02
25   2017-01-02
26   2017-01-02
27   2017-01-02
28   2017-01-02
29   2017-01-02
Name: Date, dtype: datetime64[ns]

In [136]:
a1.head(236).tail()

231   2017-01-13
232   2017-01-13
233   2017-01-13
234   2017-01-13
235   2017-01-13
Name: Date, dtype: datetime64[ns]